# Environment variables (for DATABASE_URL)
.env
# Manual ignores
.ignore
.ignore*
temp*
# Rust output
target
pkg
# Config for development
.cargo/config.toml
# Editor
.vscode
# MacOS
.DS_STORE
*.icloud