[submodule "block-types/src/blocks/data_block"]
	path = block-types/src/blocks/data_block
	url = https://github.com/loop-revolution/data-block.git
[submodule "block-types/src/blocks/group_block"]
	path = block-types/src/blocks/group_block
	url = https://github.com/loop-revolution/group-block.git
[submodule "block-types/src/blocks/text_block"]
	path = block-types/src/blocks/text_block
	url = https://github.com/loop-revolution/text-block.git
[submodule "block-types/src/blocks/document_block"]
	path = block-types/src/blocks/document_block
	url = https://github.com/loop-revolution/document-block.git
[submodule "block-types/src/blocks/habit_block"]
	path = block-types/src/blocks/habit_block
	url = https://github.com/loop-revolution/habit-block.git
[submodule "block-types/src/blocks/task_block"]
	path = block-types/src/blocks/task_block
	url = https://github.com/loop-revolution/task-block.git
