# Environment variables (for DATABASE_URL)
.env
# Manual ignores
.ignore
.ignore*
temp*
# Rust output
target
pkg
# Coverage
*.profraw
lcov.info
# Config for development
.cargo/config.toml
# Editor
.vscode
.idea
# MacOS
.DS_STORE
*.icloud